body {
    background-color: #232323;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}




.square {
    width: 30%;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 25%;
    transition: 0.4s;
}

#container {
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: white;
    height: 100px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.1;
    background: steelblue;
    padding: 20px 0;

}



#stripe {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;


}

#displayColor {
    font-size: 200%;
}

#message {
    display: inline-block;
    width: 20%;
}

.selected {
    background-color: steelblue;
    color: white;

}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 600;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: 0.5s;
    outline: none;
}

button:hover {
    border: none;
    background: steelblue;
    color: white;
    letter-spacing: 1px;
    font-size: inherit;
    transition: 0.5s;
    outline: none;
}